@font-face {
    font-family: "Balto";
    src: url("resources/baltoweb-book.woff") format('woff');
}

.clear { clear: both; }

body {
	font-family: 'Balto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #222;
}

.galleryList ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.galleryList ul li {
	display: block;
	float: left;
	vertical-align: top;
	width: calc(100%);
	padding: 0 0 8px 0;
	margin-left: 0px;
	line-height: 20px;
}

@media (min-width: 480px) {
  .galleryList ul li {
    width: calc(100%);
  }
}
@media (min-width: 768px) {
  .galleryList ul li {
	  width: calc(33%);
  }
}
@media (min-width: 1200px) {
	.galleryList ul li {
		width: calc(25%);
	}
}

.galleryList ul li::before {
	display: block;
	position: relative;
	float: left;
	left: 0;
	vertical-align: top;
	content: "";
	background: url(resources/pin.svg);
	background-size: 12px 16px;
	width: 12px;
	height: 16px;
	margin: -2px 10px 0 0px;
}

.galleryList ul li a {
	display: block;
	float: left; /* the key to proper alignment of multi-line text next to a pin */
}

.galleryList ul li a:link, .galleryList ul li a:visited { text-decoration: none; color: #222; transition: all .2s ease-out;}
.galleryList ul li a:hover, .galleryList ul li a:active { text-decoration: none; color: #ccc; }



/* 
	below is only for demo
	normal container breakpoints be used instead
*/

.galleryList {
	width: 80%;
	background-color: #fff;
	margin: 0 auto 0;
}

@media (min-width: 480px) {
    .galleryList {
  	  width: calc(80%);
    }
}
@media (min-width: 768px) {
  .galleryList {
	  width: calc(80%);
  }
}
@media (min-width: 1200px) {
	.galleryList {
		width: calc(80%);
	}
}